---
layout: layouts/base.njk
seo:
    type: Photograph
---
<article class="h-entry">
    <header class="mb3">
        <h1 class="f4 f3-l lh-title mt0 mb2 | p-name">{{ title }}</h1>
        <time class="ttu tracked f6 mid-gray dib | dt-published" datetime="{{ published | date_to_xmlschema }}">{{ date | date_to_long_string }}</time>
        
        {{/*  {% include location.html %}  */}}

    </header>



    <div class="content lh-copy measure-wide-m measure-wide-l | e-content ">

            <img loading="lazy" src="{{ image }}" class="u-photo" alt="{{ altText}}" />
        
            {% if content.size > 1 %}        
                {{ content | markdownify}}
            {% endif %}

    </div>

    {% if tags.size > 1 %}
    <footer class="bt f5 b--divider">
        <div class="mv3">
            <b>Tagged:</b> {{ tags | sort | join: ", " }}
        </div>
    </footer>
    {% endif %} 


    {{/*  {% include post-navigation.html %}  */}}

</article>

